body {
    margin: 0;
}

header {
    padding: 33px 0;
}

.border{
    padding-bottom: 32px;
    border-bottom: 1px solid #828282;
}

.container {
    width: 940.6px;
    margin: auto;
    overflow: auto;
}

.menu ul {
    margin: 0;
    padding: 0;
    color: #828282;
}

.selected {
    color: #070707;
}

.menu ul li {
    display: inline-block;
    vertical-align: middle;
    margin-right: 155.65px;
    font-size: 18px;
}

.menu ul li:last-child {
    margin-right: 0;
}

.info {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    height: 134px;
    margin: auto;
    margin-bottom: 50px;
}

.info h1 {
    font-size: 47px;
    width: 123.5px;
    text-align: left;
    margin: 0;
    padding: 0;
}

.info p {
    display: inline-block;
    font-size: 18px;
    width: 155px;
    margin: 0;
    padding: 0;
}

.languages{
    font-weight: bold;
    transform: rotate(-90deg);
    margin-bottom: 30px;
}

.img {
    background-image: url("images/man.png");
    width: 100%;
    height: 387px;
    margin-left: auto;
    margin-right: auto;
}

.backgr, .white {
    width: auto;
    height: auto;
    background-color: #F6F6F6;
    margin: 0;
    padding: 0;
    margin-top: 104px;
    padding-top: 120px;
    padding-bottom: 90px;
}

h3 {
    margin: 0;
    padding: 0;
    font-size: 34px;
    text-align: center;
    margin-bottom: 18px;
}

.backgr p, .white p {
    font-size: 18px;
    color: #070707;
    text-align: center;
    margin: 0;
    padding: 0;
    margin-bottom: 50px;
}

.white {
    background-color: white;
    margin: 0;
}

.white p {
    margin-bottom: 0;
    margin-bottom: 83px;
    margin-top: 70px;
}

.all_cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.card {
    margin-right: 168px;
}

.card:last-child {
    margin-right: 0;
}

.card p {
    margin-top: 24px;
    margin-bottom: 40px;
}

.app{
    margin-left: 40px;
}

.all_sites{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.all_sites p{
    text-decoration: underline;

}


@media (max-width: 375px) {
    .container{
        width: 316px;
    }

    .img{
        background-image: url(images/man2.png);
        background-repeat: no-repeat;
        height: 478px;
    }

    header{
        display: none;
    }

    .info{
        flex-direction: column;
        align-items: flex-start;
        margin-top: 65px;
    }

    .languages{
        display: none;
    }

    .menu_img{
        background: url("images/Group 3.svg");
        background-repeat: no-repeat;
        height: 33px;
        width: 20px;
    }

    .all_cards{
        flex-direction: column;
    }

    .card, .card:last-child{
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 80px;
    }

    .app{
        margin-left: 40px;
    }
}