body {
    margin: 0;
    font-family: Roboto;
}

.popup_menu {
    position: fixed;
    background-color: white;
    width: 100%;
    height: 100vh;
    display: none;
}

.elements {
    display: flex;
    justify-content: space-between;
    margin-top: 66px;
    align-items: flex-start;
}

.menu_list {
    display: flex;
    flex-direction: column;
}

.menu_list ul {
    margin: 0;
    padding: 0;
}

.menu_list ul li {
    font-size: 34px;
    margin-bottom: 68px;
    padding-left: 26px;
}

.elements img {
    margin-right: 26px;
}

header {
    padding: 33px 0;
}

.border {
    padding-bottom: 32px;
    border-bottom: 1px solid #828282;
}

.container {
    width: 940.6px;
    margin: auto;
    overflow: auto;
}

.menu ul {
    margin: 0;
    padding: 0;
    color: #828282;
}

.menu ul li {
    display: inline-block;
    vertical-align: middle;
    margin-right: 150px;
    font-size: 18px;
    transition: 0.4s;
}

.menu ul li:last-child {
    margin-right: 0;
}

.menu ul li:hover {
    color: #070707;
    font-weight: bold;
}

.info {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    height: 134px;
    margin: auto;
    margin-bottom: 50px;
}

.info h1 {
    font-size: 47px;
    width: 123.5px;
    text-align: left;
    margin: 0;
    padding: 0;
}

.info p {
    display: inline-block;
    font-size: 18px;
    width: 155px;
    margin: 0;
    padding: 0;
}

.languages {
    font-weight: bold;
    transform: rotate(-90deg);
    margin-bottom: 30px;
}

.img {
    background-image: url("images/man.png");
    width: 100%;
    height: 387px;
    margin-left: auto;
    margin-right: auto;
}

.backgr, .white {
    width: auto;
    height: auto;
    background-color: #F6F6F6;
    margin: 0;
    padding: 0;
    margin-top: 104px;
    padding-top: 120px;
    padding-bottom: 90px;
}

h3 {
    margin: 0;
    padding: 0;
    font-size: 34px;
    text-align: center;
    margin-bottom: 18px;
}

.backgr p, .white p {
    font-size: 18px;
    color: #070707;
    text-align: center;
    margin: 0;
    padding: 0;
    margin-bottom: 50px;
}

.white {
    background-color: white;
    margin: 0;
}

.skills p {
    margin-bottom: 0;
    margin-bottom: 83px;
    margin-top: 70px;
}

.all_cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 90px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 207px;
}

.card p {
    margin-top: 24px;
    margin-bottom: 40px;
    height: 44px;
}

.all_sites {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.all_sites p {
    text-decoration: underline;

}

.card1 {
    margin: 0 auto 50px;
}

.card1 img {
    margin-bottom: 45px;
}

button {
    display: block;
    border: none;
    background-color: black;
    color: white;
    padding: 13px 30px;
    border-radius: 50px;
    font-size: 18px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 30px;
}

.contacts {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.contacts img {
    margin-right: 60px;
}

.contacts img:last-child {
    margin-right: 0;
}

footer p {
    margin-top: 46px !important;
}


@media (max-width: 375px) {
    .container {
        width: 316px;
    }

    .img {
        background-image: url(images/man2.png);
        background-repeat: no-repeat;
        height: 478px;
    }

    header {
        display: none;
    }

    .info {
        flex-direction: column;
        align-items: flex-start;
    }

    .languages {
        display: none;
    }

    .menu_img {
        background: url("images/Group 3.svg");
        background-repeat: no-repeat;
        height: 33px;
        width: 20px;
        margin-top: 10px;

    }

    .mobile_menu {
        margin-top: 65px;
        display: flex;
        justify-content: space-between;
    }

    .all_cards {
        flex-direction: column;
    }

    .card, .card:last-child {
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 80px;
    }

    .app {
        margin-left: 40px;
    }
}